.flex {
    display: flex;
}

.grid {
    display: grid;
}

.between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-menu {
    gap: 2rem;
}

.gap-0\.5 {
    gap: .5rem;
}

.tag {
    padding: 4px 8px;
    background-color: var(--brand-color-dark);
    text-transform: uppercase;
    border-radius: 4px;
}

.link {
    text-decoration: none;
    color: var(--text-color-secondary);
    white-space: nowrap;

    &:hover {
        color: var(--brand-color-light);
    }
}

.container {
     padding: 16px;
}

.separator {
    border: thin solid #CBD5E1;
    opacity: 0.1;
}

.desktop-only {
    display: none;
}

@media ( min-width: 80rem ) {
    .desktop-only{ 
        display: initial;
    }

    .gap-menu {
        gap: 5.9375rem;
    }
}
